
<header>
  <div class="header-content main-header">
    <h1>Book a Room</h1>
    <hr>
  </div>
  <link rel="stylesheet" href="css/bootstrap-datepicker3.standalone.min.css">
</header>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 col-sm-offset-2 col-md-offset-2 col-lg-offset-4">
    <form id='make-booking-form' class="form-horizontal">
      <div class="form-group">
        <label for="sel1">Date:</label>
        {{view "select" id="inputDate" class="form-control" content=dates value=dateSelected}}
      </div>

      <div class="form-group">
        <label for="sel1">Number of People:</label>
        {{view "select" id="inputGuests" class="form-control" content=numGuests value=selectedGuests}}
      </div>

      <div class="form-group">
        <label for="sel1">Start Time:</label>
        {{view "select" id="inputSTime" class="form-control" content=sTimes value=selectedSTime}}
      </div>

      <div class="form-group">
        <label for="sel1">End Time:</label>
        {{view "select" id="inputETime" class="form-control" content=eTimes value=selectedETime}}
      </div>


      <div class="form-group">
        <label for="sel1">Select Room:</label>
        {{view "select" id="inputRoom" class="form-control" content=rooms optionLabelPath="content.name" value=selectedRoom}}
      </div>

      <div class="form-group">
        <label for="sel1">Extra Microphones:</label>
        {{view "select" id="inputMicrophones" class="form-control" content=extraMicrophones value=selectedMicrophones}}
      </div>

      <div class="form-group">
        <label for="sel1">Extra IPads:</label>
        {{view "select" id="inputIPads" class="form-control" content=extraIPads value=selectedIPads}}
      </div>

      <div class="form-group">
        <div {{action 'createBooking'}} id='create-booking-link' class="">Create Booking</div>
      </div>

    </form>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
    <div class="sidebar-nav-fixed pull-right affix">
      <div class="well">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Booking for {{user.name}}
              </th>
              <th>
              </th>
              <th>
                Price
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Number of People
              </td>
              <td>
                {{selectedGuests}}
              </td>
              <td>
                -
              </td>
            </tr>
            <tr>
              <td>
                Date
              </td>
              <td>
                {{dateSelected}}
              </td>
              <td>
                -
              </td>
            </tr>
            <tr>
              <td>
                Room
              </td>
              <td>
                {{selectedRoom.name}}
              </td>
              <td>
                -
              </td>
            </tr>
            <tr>
              <td>
                Number of Hours:
              </td>
              <td>
                {{totalTime}}
              </td>
              <td>
                {{priceRoom}}
              </td>
            </tr>
            <tr>
              <td>
                Number of Microphones
              </td>
              <td>
                {{selectedMicrophones}}
              </td>
              <td>
                {{priceMicrophones}}
              </td>
            </tr>
            <tr>
              <td>
                Number of IPads
              </td>
              <td>
                {{selectedIPads}}
              </td>
              <td>
                {{priceIPads}}
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <b>Total</b>
              </td>
              <td>
              </td>
              <td>
                {{totalPrice}}
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- well -->
    </div><!-- sidebar -->
  </div>
</div>

<!-- OPTIONAL CAROUSEL
<div id="roomCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#roomCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#roomCarousel" data-slide-to="1"></li>
    <li data-target="#roomCarousel" data-slide-to="2"></li>
    <li data-target="#roomCarousel" data-slide-to="3"></li>
    <li data-target="#roomCarousel" data-slide-to="1"></li>
    <li data-target="#roomCarousel" data-slide-to="1"></li>
    <li data-target="#roomCarousel" data-slide-to="1"></li>
    <li data-target="#roomCarousel" data-slide-to="1"></li>
    <li data-target="#roomCarousel" data-slide-to="1"></li>
    <li data-target="#roomCarousel" data-slide-to="8"></li>
    <li data-target="#roomCarousel" data-slide-to="9"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">

    </div>
  </div>
</div>
 -->

<div id="bookingConfirmModal" class='modal fade' role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm your Booking</h4>
      </div>
      <div class="modal-body">
        <p>
          Please confirm the details of your booking below.
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Booking for {{user.name}}
              </th>
              <th>
              </th>
              <th>
                Price
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Number of People
              </td>
              <td>
                {{selectedGuests}}
              </td>
              <td>
                -
              </td>
            </tr>
            <tr>
              <td>
                Date
              </td>
              <td>
                {{dateSelected}}
              </td>
              <td>
                -
              </td>
            </tr>
            <tr>
              <td>
                Room
              </td>
              <td>
                {{selectedRoom.name}}
              </td>
              <td>
                -
              </td>
            </tr>
            <tr>
              <td>
                Number of Hours:
              </td>
              <td>
                {{totalTime}}
              </td>
              <td>
                {{priceRoom}}
              </td>
            </tr>
            <tr>
              <td>
                Number of Microphones
              </td>
              <td>
                {{selectedMicrophones}}
              </td>
              <td>
                {{priceMicrophones}}
              </td>
            </tr>
            <tr>
              <td>
                Number of IPads
              </td>
              <td>
                {{selectedIPads}}
              </td>
              <td>
                {{priceIPads}}
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <b>Total</b>
              </td>
              <td>
              </td>
              <td>
                {{totalPrice}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sml btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" id="booking-confirm" class="btn btn-lrg" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

<script src="js/bootstrap-datepicker.min.js"></script>
