
<header>
  <div class="header-content main-header">
    <h1>Book a Room</h1>
    <hr>
  </div>
</header>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4">
    <form id='make-booking-form' class="form-inline">

      <div class="form-group">
        <label for="dateInput">Date</label>
        {{input type='text' class='form-control' id='inputDate' placeholder='Date' value=date}}
      </div>

      <div class="form-group">
        <label for="inputStartTime">Start Time</label>
        {{input type='text' class='form-control' id='inputStartTime' placeholder='Start Time' value=startTime}}
      </div>

      <div class="form-group">
        <label for="inputEndTime">End Time</label>
        {{input type='text' class='form-control' id='inputEndTime' placeholder='End Time' value=endTime}}
      </div>

      <div class="form-group">
        <label for="inputRoomId">Room Id</label>
        {{input type='text' class='form-control' id='inputRoomId' placeholder='Room Id' value=room_id}}
      </div>

      <div id='create-booking-link' class="">
        Create Booking
      </div>

    </form>
  </div>
</div>

<!-- ========== BOOKING FORM ================
    Note: the room selection radios may be replaced by a carousel of room images
   ======================================== -->
<div class="form">
  <div class="" id="">
    <div class="form-group">
      <label for="inputDate">Email address</label>
      {{input class='form-control' id='inputDate' placeholder='date' value=date}}
    </div>

    <div class="form-group">
      <label for="inputStartTime">Star Time</label>
      {{input class='form-control' id='inputStarTime' placeholder='starTime' value=starTime}}
    </div>

    <div class="input-group date" id="dateTimePicker1">
      {{input value=hour}}
    </div>
    <div class="room-selection" id="roomSelection">
      <label class="radio-inline">
        <input type="radio" id="roomOption" value="room1"> Room1
      </label>
      <label class="radio-inline">
        <input type="radio" id="roomOption" value="room1"> Room1
      </label>
      <label class="radio-inline">
        <input type="radio" id="roomOption" value="room1"> Room1
      </label>
      <label class="radio-inline">
        <input type="radio" id="roomOption" value="room1"> Room1
      </label>
      <label class="radio-inline">
        <input type="radio" id="roomOption" value="room1"> Room1
      </label>
      <label class="radio-inline">
        <input type="radio" id="roomOption" value="room1"> Room1
      </label>
      <label class="radio-inline">
        <input type="radio" id="roomOption" value="room1"> Room1
      </label>
      <label class="radio-inline">
        <input type="radio" id="roomOption" value="room1"> Room1
      </label>
      <label class="radio-inline">
        <input type="radio" id="roomOption" value="room1"> Room1
      </label>
      <label class="radio-inline">
        <input type="radio" id="roomOption" value="room1"> Room1
      </label>
    </div><!-- END Room Selection -->
    <div class="add-Equipment" id="addEquipment">
      <div class="add-microphones" id="addMicrophones">
          <div class="input-group spinner">
            <input type="text" class="form-control" value="0 microphones">
          </div>
          <div class="input-group-button-vertical">
            <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i> </button>
            <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
          </div>
      </div>

    </div>
  </div><!-- END form-collapse -->
  <a class="btn btn-lrg btn-primary" href="#formCollapse" data-toggle="collapse" data-parent="#accordian">Create A Booking</a>

  <!-- For later, to select date and time

  <script type="text\javascript">
    $(function(){
      $('#datetimepicker1').datetimepicker();
    });
  </script> -->
</div><!-- END form-inline -->
