<header>
  <div class="header-content main-header">
    <h1>{{user.name}}'s Bookings</h1>
    <hr>
  </div>
</header>
<ul id="bookingTabs" class="nav nav-tabs">
  <li class="active"><a href="#current" data-toggle="tab">Current</a></li>
  <li><a href="#past" data-toggle="tab">Past</a></li>
</ul>
<body>

  <div id="myTabContent" class="tab-content">

    <div align="center" class="tab-pane in active row" id="current">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
        {{#each current_bookings as |booking|}}

        <!-- SHOULD USE Component here -->
        <div class="booking-row row">
          <div class="mb-definer col-xs-6">
            Date
          </div>
          <div class="mb-value col-xs-6">
            {{formatted-date booking.date}}
          </div>

          <div class="mb-definer col-xs-6">
            Room
          </div>
          <div class="mb-value col-xs-6">
            {{booking.room.roomID}} - {{booking.room.name}}
          </div>

          <div class="mb-definer col-xs-6">
            # people
          </div>
          <div class="mb-value col-xs-6">
            {{booking.numberOfPeople}}
          </div>

          <div class="mb-definer col-xs-6">
            Time
          </div>
          <div class="mb-value col-xs-6">
            {{time-range booking.startTime booking.endTime}}
          </div>

          <div class="mb-definer col-xs-6">
            # Mics
          </div>
          <div class="mb-value col-xs-6">
            {{booking.mics}}
          </div>

          <div class="mb-definer col-xs-6">
            # iPads
          </div>
          <div class="mb-value col-xs-6">
            {{booking.ipads}}
          </div>

          <div class="mb-cancel-link mb-definer col-xs-6">
            <span {{action 'cancelBooking' booking._id}}>Cancel Booking</span>
          </div>
          <div class="mb-upsize-link mb-value col-xs-6">
            <!-- <span>Upsize Room</span> -->
          </div>
        </div>


        {{/each}}
      </div>
    </div>

    <div align="center" class="tab-pane row" id="past">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
        {{#each past_bookings as |booking|}}

        <!-- SHOULD USE Component here -->
        <div class="booking-row row">
          <div class="mb-definer col-xs-6">
            Date
          </div>
          <div class="mb-value col-xs-6">
            {{formatted-date booking.date}}
          </div>

          <div class="mb-definer col-xs-6">
            Room
          </div>
          <div class="mb-value col-xs-6">
            {{booking.room.roomID}} - {{booking.room.name}}
          </div>

          <div class="mb-definer col-xs-6">
            # people
          </div>
          <div class="mb-value col-xs-6">
            {{booking.numberOfPeople}}
          </div>

          <div class="mb-definer col-xs-6">
            Time
          </div>
          <div class="mb-value col-xs-6">
            {{time-range booking.startTime booking.endTime}}
          </div>

          <div class="mb-definer col-xs-6">
            # Mics
          </div>
          <div class="mb-value col-xs-6">
            {{booking.mics}}
          </div>

          <div class="mb-definer col-xs-6">
            # iPads
          </div>
          <div class="mb-value col-xs-6">
            {{booking.ipads}}
          </div>
        </div>

        {{/each}}
      </div>
    </div>
  </div>
</body>
