<header>
  <div class="header-content main-header">
    <h1>My Bookings</h1>
    <hr>
  </div>
</header>
<ul id="bookingTabs" class="nav nav-tabs">
  <li class="active"><a href="#current" data-toggle="tab">Current</a></li>
  <li><a href="#past" data-toggle="tab">Past</a></li>
</ul>
<body>

{{#each current_booking as |booking|}}
  {{booking.date}}
{{/each}}

{{#each past_booking as |booking|}}
  {{booking.date}}
{{/each}}

  <div id="myTabContent" class="tab-content">
    <div align="center" class="tab-pane in active" id="current">

      <div class="sidebar-nav">
        <div class="well">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Booking for {{user.name}}
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Number of People
                </td>
                <td>
                  {{selectedGuests}}
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  Date
                </td>
                <td>
                  {{dateSelected}}
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  Room
                </td>
                <td>
                  {{selectedRoom.name}}
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  Number of Hours:
                </td>
                <td>
                  {{totalTime}}
                </td>
                <td>
                  {{priceRoom}}
                </td>
              </tr>
              <tr>
                <td>
                  Number of Microphones
                </td>
                <td>
                  {{selectedMicrophones}}
                </td>
                <td>
                  {{priceMicrophones}}
                </td>
              </tr>
              <tr>
                <td>
                  Number of IPads
                </td>
                <td>
                  {{selectedIPads}}
                </td>
                <td>
                  {{priceIPads}}
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- well -->
      </div><!-- sidebar -->      </div>
      <div align="center" class="tab-pane " id="past">
        <div class="sidebar-nav">
          <div class="well">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    Booking for {{user.name}}
                  </th>
                  <th>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Number of People
                  </td>
                  <td>
                    {{selectedGuests}}
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>
                    Date
                  </td>
                  <td>
                    {{dateSelected}}
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>
                    Room
                  </td>
                  <td>
                    {{selectedRoom.name}}
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>
                    Number of Hours:
                  </td>
                  <td>
                    {{totalTime}}
                  </td>
                  <td>
                    {{priceRoom}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Number of Microphones
                  </td>
                  <td>
                    {{selectedMicrophones}}
                  </td>
                  <td>
                    {{priceMicrophones}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Number of IPads
                  </td>
                  <td>
                    {{selectedIPads}}
                  </td>
                  <td>
                    {{priceIPads}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- well -->
        </div><!-- sidebar -->
      </div>
    </div>
  </body>
