
<header>
  <div class="header-content main-header">
    <h1>Register</h1>
    <hr>
  </div>
</header>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4">
    <form id="login-form" {{action 'registerUser' on='submit'}}>
      <div class={{if error_name 'form-group has-error' 'form-group'}}>
        <label for="inputName">Name</label>
        {{input type="text" class="form-control" placeholder="Name" id="inputName" value=name}}
      </div>
      <div class={{if error_username 'form-group has-error' 'form-group'}}>
        <label for="inputUsername">Username</label>
        {{input type="text" class="form-control" placeholder="Name" id="inputUsername" value=username}}
      </div>
      <div class={{if error_pass 'form-group has-error' 'form-group'}}>
        <label for="inputPassword">Password</label>
        {{input type="text" class="form-control" placeholder="Name" id="inputPassword" value=password}}
      </div>
      <div class={{if error_pass 'form-group has-error' 'form-group'}}>
        <label for="inputPasswordAgain">Password (again)</label>
        {{input type="text" class="form-control" placeholder="Name" id="inputRepass" value=repass}}
      </div>
      <div class="error">
        {{error_message}}
      </div>
      <button type="submit" class="blue-button btn btn-default">Register</button>
    </form>
  </div>
</div>
